h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dbc441;
}